<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    
    <title>Catálogo da Blue - HTML, CSS, JS, PYTHON E SQL</title>
    <link rel="stylesheet" href="/static/estilo.css" />

</head>
    <body>
        {% include 'header.html' %}
        
        <div class="bloco_m">
            
            <h2> Alterar a data da reserva n° <span class="novo_id">{{ registro["num_reserva"] }}</span> </h2>
            
        </div>
    
        <div class="bloco">
        <form action="" method="POST">
            <label for="data_in">Data de Check-in:</label>
            <input type="date" name="data_in" id="data_in" value="{{ registro.data_in }}" > <br><br>
            <label for="data_out">Data de Check-out:</label>
            <input type="date" name="data_out" id="data_out" value="{{ registro.data_out }}"><br> <br>
            <input class="botao" type="submit" value="Confirmar">
        </form>
        </div>
        <div class="bloco">
            <a href="/menu_reserva/consultar_reserva" class="botao_v" >Voltar</a>
        </div>
</body>
</html>