<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    
    <title>Catálogo da Blue - HTML, CSS, JS, PYTHON E SQL</title>
    <link rel="stylesheet" href="/static/estilo.css" />

</head>
    <body>
        {% include 'header.html' %}

        {% if sucesso %}

        <div class="bloco removido">
            <p>
            Registro removido com sucesso!
            </p>
        </div>

        <div class="bloco">
            <a href="/menu_reserva" class="botao">Visualizar Reservas</a>
        </div>
        {% else %}
            <div class="bloco">
                <h2 class="bloco" style="color: red;">Tem certeza que deseja apagar a reserva: n°<span class="novo_id"> {{ apaga_reserva.num_reserva }}</span>?</h2>
                    <br/><br/></div>
                    <div class="bloco">
                    <a href="/menu_reserva/apagar_reserva/{{ apaga_reserva.num_reserva }}/confirmed" class="botao_r">Apagar</a>
                    <a href="/menu_reserva/{{ apaga_reserva.num_reserva }}" class="botao">Cancelar</a>
                    
                </p>
            </div>
        
        <div class="bloco">
            <a href="/menu_reserva/{{ apaga_reserva.num_reserva }}" class="botao_v" >Voltar</a>
        </div>
        {% endif %}
</body>
</html>