<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    
    <title>Visualizar Recerva</title>
    <link rel="stylesheet" href="/static/estilo.css" />

</head>
<body>
    {% include 'header.html' %}

    <div style= "color:#008E9D" class="bloco">
        <h2>Informação das reservas</h2>    
    </div>
    <div class="bloco" method="GET">
        <table class="tabela">
            <tr style= "color:#008E9D" class="tabela_header">
                <td>Numero de reserva</td>
                <td>Chack in</td>
                <td>Check out</td>
                <td>Quantidade de dias</td>
                <td>Nome Cliente</td>

            </tr>
            {% for registros in registros %}
            <tr>
                <td>{{ registros["num_reserva"] }}</td>
                <td>{{ registros["data_in"] }}</td>
                <td>{{ registros["data_out"] }}</td>
                <td>{{ registros["diferenca"] }} dias</td>
                <td>{{ registros["nome"] }}</td>
                <td><a href="/menu_reserva/{{ registros['num_reserva'] }}" class="botao_v" >Selecionar</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="bloco">
        <a href="/menu_reserva" class="botao_v" >Voltar</a>
    </div>
</body>
</html>