<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    
    <title>Menu Recepção</title>
    <link rel="stylesheet" href="/static/estilo.css" />

</head>
    <body>
        {% include 'header.html' %}
        <div class="bloco_m">
            <h2> Escolha uma opçao </h2>
        </div>
        <br>
        <div class="bloco">
            <a href="/menu_reserva" class="botao" >Reservas</a>
        </div>
        <br>
        <div class="bloco">
            <a href="/consultar_clientes" class="botao" >Clientes</a>
        </div><br>
        <div class="bloco">
            <a href="/menu_quartos" class="botao" >Quartos</a>
        </div><br>
        <div class="bloco">
            <a href="/menu_faturacao" class="botao" >Faturação</a>
        </div><br>
        <div class="bloco">
            <a href="/" class="botao_v" >Voltar</a>
        </div>
</body>
</html>