<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    
    <title>Visualizar Recerva</title>
    <link rel="stylesheet" href="/static/estilo.css" />

</head>
<body>
    {% include 'header.html' %}
    
    <div class="bloco" method="GET">
        <table class="tabela">
            <tr style= "color:#008E9D" class="tabela_header">
                <td>Numero de reserva</td>
                <td>Chack in</td>
                <td>Check out</td>
                <td>Quantidade de dias</td>
                <td>Custo por dia</td>
                <td>Custo total</td>
                <td>Nome do Cliente</td>
                <td>N° de Habitação</td>
                <td>Categoria</td>

            </tr>
            <tr>
                
                <td>{{ registro["num_reserva"] }}</td>
                <td>{{ registro["data_in"] }}</td>
                <td>{{ registro["data_out"] }}</td>
                <td>{{ registro["diferenca"] }} dias</td>
                <td>R${{ registro["valor_u"] }}</td>
                <td>R${{ registro["valor_t"] }}</td>
                <td>{{ registro["nome"] }}</td>
                <td>{{ registro["num_hab"] }}</td>
                <td>{{ registro["categoria"] }}</td>
            </tr>
                
         </table>
    </div>
    <div class="bloco">
        <a href="/menu_reserva/alterar_reserva/{{ registro['num_reserva'] }}" class="botao">Alterar</a>
        <a href="/menu_reserva//apagar_reserva/{{ registro['num_reserva'] }}" class="botao_r">Apagar</a>
    </div>
    <div class="bloco">
        <a href="/menu_reserva/consultar_reserva" class="botao_v">Voltar</a>
    </div>
   
</body>
</html>
